:root {
  --dark: darkgreen;
  --light: antiquewhite;
  --workspace: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;

  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light);
}

body>header, body>footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--light);
}

body>header {
  border-block-end: 1px solid var(--dark);
}

body>footer {
  border-block-start: 1px solid var(--dark);
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}

#assistant:has(#assistant-text:empty) {
  display: none;
}

#app {
  height: 100%;
  background-color: var(--workspace);
  display: grid;
  grid-template-columns: 30% 0.25rem 1fr;

  &>* {
    height: 100%;
    padding: 0.5rem 1rem;
  }

  &>.divider {
    padding: 0;
    width: 1px;
    background-color: var(--dark);
    /* border-inline: 0.5rem solid var(--workspace); */
    /* cursor: col-resize; */
  }
}

.loading {
  --loading-size: clamp(2rem, 20vw, 10rem);

  & path {
    stroke: black;
  }

  /* hidden by default */
  height: 0;

  margin-left: calc(100% / 2 - (var(--loading-size) / 2));
  background-color: var(--light);
  border-radius: 1rem;

  &.visible {
    height: var(--loading-size);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.only-focused {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    height: auto;
  }
}

section#goals,
#goals-list,
section#actions,
#actions-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#goals-list {
  border: none;
  padding: 0;
  margin: 0;
}

.goals {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#goals-help {
  height: 0;
  overflow: hidden;
  margin-block-start: -1rem; /* remove the extra gap */

  &:focus {
    height: auto;
    margin-block-start: auto;
  }
}

#goals-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.add-item {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.25rem;
}

label.action-label {
  display: inline-block;
  width: 2rem;
}

label.action-label ~ input {
  width: calc(100% - 2rem);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(max-width: 1000px) {
  h1, h2, h3 {
    text-align: center;
  }

  header, footer {
    padding: 0.25rem;
  }

  #app {
    grid-template-columns: none;
    grid-template-rows: max-content 0.25rem 1fr;

    .goals {
      padding-block-end: 0.5rem;
    }

    &>* {
      height: auto;
      padding: 0.25rem;
    }

    &>.divider {
      width: auto;
      height: 1px;
    /*  border-inline: none;
      border-block: 0.5rem solid var(--workspace);
      cursor: row-resize; */
    }
  }
}

@media(min-width: 1200px) {
  main {
    width: 1200px;
    margin-inline: auto;
  }
}
